@import url("http://fonts.googleapis.com/css?family=Akaya+Kanadaka&subset=latin,latin-ext");

* {
  margin: 0;
  padding: 0;
  font-family: "Akaya Kanadaka", sans-serif;
}

body {
  background: #00050a;
  color: white;
}

.complements {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.complement-button {
  margin-top: 2vh;
  background-color: #00050a;
  color: white;
  width: 60vw;
  border-radius: 10px;
  border: 2px solid white;
  height: 5vh;
}

.complement-button:hover {
  background-color: gray;
}

#complement-text {
  margin-top: 2vh;
}

.complement-wrapper {
  width: 75vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
