@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "New Tegomin", serif;
}

body {
  background: #00050a;
}

button:hover {
  background-color: rgb(78, 161, 103);
  box-shadow: 0 15px 35px rgba(196, 218, 197, 0.15);
}
/* START SCREEN */

.start-login-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #00050a;
  color: #eeeeee;
}

.start-screen-wrapper h1 {
  position: relative;
  font-family: "New Tegomin", serif;
  font-size: 6vw;
  font-weight: bold;
  padding-left: 15vw;
  overflow: hidden;
}

h1 .hi {
  display: inline-block;
}

.cursor {
  margin-left: -1vw;
}

.start-btn {
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 8vh;
  width: 50vw;
  font-size: 3vh;
  font-weight: bold;
  opacity: 0;
  justify-self: center;
}

.start-button-wrapper {
  margin-top: 10vh;
  margin-left: 27vw;
}

/* CHOICE BETWEEN CREATE ACCOUNT OR SHOW EXEMPLARY NBA TIMELINE */

.create-or-show-example-wrapper {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  opacity: 0;
}

.create-or-show-example-wrapper button {
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 8vh;
  width: 50vw;
  max-width: 500px;
  font-family: "New Tegomin", serif;
  font-size: 1.8vh;
  font-weight: bold;
  margin-top: 20px;
}

.create-or-show-example-wrapper button:hover {
  background-color: rgb(78, 161, 103);
}

/* LOADING ANIMATION */

.loading-screen-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(78, 161, 103);
  box-shadow: 0 15px 35px rgba(196, 218, 197, 0.15);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* CREATE ACCOUNT */

.create-account-wrapper {
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 0;
}

.account-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-info-wrapper input {
  color: white;
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 3vh;
  width: 70vw;
  font-size: 100%;
  max-width: 800px;
}

.account-info-wrapper label {
  margin-top: 2vh;
}

.create-account-btn {
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 6vh;
  width: 50vw;
  font-family: "New Tegomin", serif;
  font-size: 2.5vh;
  font-weight: bold;
  margin-top: 2vh;
  max-width: 800px;
}

.go-back-from-create-account-button {
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 5vh;
  width: 15vw;
  font-family: "New Tegomin", serif;
  font-size: 3vh;
  font-weight: bold;
  margin-top: 2vh;
  max-width: 800px;
  transform: translateY(150%);
}

.validation-info {
  color: white;
  margin: 3vh;
}

/* LOGIN */

/* after modification change display to none and opacity to 0 */

.login-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  opacity: 0;
}

.login-wrapper p {
  font-size: 150%;
  margin-bottom: 1vh;
}

.login-inputs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-inputs-wrapper input {
  color: white;
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 3vh;
  width: 70vw;
  font-size: 100%;
  max-width: 800px;
}

.login-inputs-wrapper tag {
  margin-top: 2vh;
}

.login-validation-wrapper {
  margin-top: 3vh;
}

.login-button {
  margin-top: 3vh;
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 6vh;
  width: 50vw;
  font-size: 3vh;
  font-weight: bold;
  max-width: 800px;
}

/* timeline */

.timeline-window-wrapper {
  display: none;
  opacity: 0;
  grid-template-rows: 10vh 1fr;
  background-color: #00050a;
}

.timeline-navigation-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  flex-direction: column;
  align-items: center;
}

.create-timeline-element-btn {
  margin-top: 3vh;
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 6vh;
  width: 50vw;
  font-size: 1.8vh;
  font-weight: bold;
  max-width: 400px;
}

.create-account-from-exemplary-timeline-btn {
  margin-top: 1vh;
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 6vh;
  width: 50vw;
  font-size: 1.8vh;
  font-weight: bold;
  max-width: 400px;
}

.timeline-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  position: relative;
  margin-top: 35px;
  margin-bottom: 100px;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.headline-wrapper {
  display: flex;
  justify-content: space-between;
}

.timeline ul li:hover {
  background-color: rgb(78, 161, 103);
  box-shadow: 0 15px 35px rgba(196, 218, 197, 0.15);
}

/* timeline element title */

.timeline-content .headline-wrapper h1 {
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

/* timeline-element-date */

.timeline-content .headline-wrapper h4 {
  margin-top: 0.9vh;
  font-size: 10px;
  margin-right: 10px;
}

/* timeline-element-description */

.timeline-content p {
  font-size: 11px;
  line-height: 30px;
  font-weight: 300;
}

/*responsive web design*/

@media only screen and (min-width: 1020px) {
  .timeline {
    margin-bottom: 100px;
  }

  .timeline-content .headline-wrapper h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .timeline-content .headline-wrapper h4 {
    margin-top: 0.9vh;
    font-size: 12px;
    margin-right: 10px;
  }

  .timeline-content p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
  }

  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: gray;
    left: 50%;
  }

  .timeline ul li {
    width: 46%;
    margin-bottom: 50px;
    position: relative;
    transition: 1s;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-35px);
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(35px);
  }

  .timeline ul li:nth-child(odd)::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
    transform: translateX(401px) translateY(12px);
    transition: 1s;
  }

  .timeline ul li:nth-child(even)::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
    transform: translateX(-61px) translateY(12px);
    transition: 1s;
  }

  .timeline ul li:hover {
    background-color: seagreen;
  }

  .timeline ul li:hover::after {
    background-color: rgb(78, 161, 103);
    box-shadow: 0 15px 35px rgba(196, 218, 197, 0.15);
  }
}

/* MODAL */

.modal-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 10px;
  z-index: 1000;
  background-color: #00050a;
  color: white;
  width: 80vw;
  display: "none";
  opacity: 0;
  max-width: 700px;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-modal-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2.5vh;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}

.overlay {
  position: fixed;
  display: none;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.9);
}

.submit-timline-element-btn {
  margin-top: 3vh;
  background-color: #00050a;
  border: 0.3vh solid white;
  color: white;
  height: 6vh;
  width: 50vw;
  font-size: 3vh;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 2%;
}

.modal-inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-inputs-wrapper input {
  background-color: #00050a;
  color: white;
  border: 1px solid white;
  width: 60vw;
  max-width: 600px;
}

#modal-inputs-validation{
  margin-top: 3%;
}

.event-description-input {
  height: 20vh;
  background-color: #00050a;
  color: white;
  border: 1px solid white;
}
